body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.solar-system {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(universe.jpg);
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 215, 0, 0.7);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.planet {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.mercury-orbit {
  width: 150px;
  height: 150px;
  animation: rotate 8s linear infinite;
}

.venus-orbit {
  width: 200px;
  height: 200px;
  animation: rotate 12s linear infinite;
}

.earth-orbit {
  width: 300px;
  height: 300px;
  animation: rotate 20s linear infinite;
}

.mars-orbit {
  width: 400px;
  height: 400px;
  animation: rotate 30s linear infinite;
}

.jupiter-orbit {
  width: 500px;
  height: 500px;
  animation: rotate 60s linear infinite;
}

.saturn-orbit {
  width: 600px;
  height: 600px;
  animation: rotate 80s linear infinite;
}

.uranus-orbit {
  width: 700px;
  height: 700px;
  animation: rotate 100s linear infinite;
}

.neptune-orbit {
  width: 800px;
  height: 800px;
  animation: rotate 120s linear infinite;
}

.mercury {
  width: 8px;
  height: 8px;
  background-color: gray;
}

.venus {
  width: 12px;
  height: 12px;
  background-color: #ffa500;
}

.earth {
  width: 14px;
  height: 14px;
  background-color: #00f;
}

.mars {
  width: 10px;
  height: 10px;
  background-color: red;
}

.jupiter {
  width: 24px;
  height: 24px;
  background-color: orange;
}

.saturn {
  width: 22px;
  height: 22px;
  background-color: #deb887;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.uranus {
  width: 18px;
  height: 18px;
  background-color: lightblue;
}

.neptune {
  width: 16px;
  height: 16px;
  background-color: blue;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(0px);
  }
  to {
    transform: rotate(360deg) translateX(0px);
  }
}
